<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="space">

	<resultMap type="spacebook.login.model.MemberVO" id="MemberVO">
	    <result column="MEM_NO" property="mem_No"/>
	    <result column="MEM_NAME" property="mem_Name"/>
	</resultMap> 

	<resultMap type="spacebook.submit.model.SpaceDTO" id="spaceDTO">
	    <result column="SPACE_NO" property="space_no"/>
	    <result column="MEM_NO" property="mem_no"/>
	    <result column="SPACE_NAME" property="space_name"/>
	    <result column="SPACE_CATEGORY" property="space_category"/>
	    <result column="SPACE_INTRO1" property="space_intro1"/>
	    <result column="SPACE_IMG1" property="space_img1"/>
	    <result column="SPACE_OPEN" property="space_open"/>
	    <result column="SPACE_CLOSE" property="space_close"/>
	    <result column="SPACE_SITE" property="space_site"/>
	    <result column="SPACE_PHONE" property="space_phone"/>
	    <result column="SPACE_ADDR1" property="space_addr1"/>
	    <result column="SPACE_ADDR2" property="space_addr2"/>
	    <result column="SPACE_SUM" property="space_sum"/>
	    <result column="SPACE_BANK" property="space_bank"/>
	    <collection property="memberVO" resultMap="MemberVO"/>
	</resultMap> 

	<insert id="insertSpace" parameterType="spacebook.submit.model.SpaceDTO" >
		insert into space values(
		space_seq.nextval,
		#{mem_no},
		#{space_name},
		#{space_category},
		#{space_addr1},
		#{space_addr2},
		#{space_intro1},
		#{space_intro2},
		#{space_tag},
		#{fac_no},
		#{space_site},
		#{space_img1},
		#{space_img2,jdbcType=VARCHAR},
		#{space_img3,jdbcType=VARCHAR},
		#{space_img4,jdbcType=VARCHAR},
		#{space_img5,jdbcType=VARCHAR},
		#{space_img6,jdbcType=VARCHAR},
		#{space_img7,jdbcType=VARCHAR},
		#{space_phone},
		#{space_cau},
		#{space_peo_count},
		#{space_open},
		#{space_close},
		#{space_sum},
		#{space_bank},
		#{space_account},
		#{space_depositor})
	</insert>
	
	<insert id="insertMap" parameterType="spacebook.submit.model.SpaceDTO">
		insert into map values (space_seq.currval, #{map_latitude}, #{map_longitude})
	</insert>
	
	<select id="selectFacility" resultType="spacebook.submit.model.SpaceFacilityDTO" parameterType="spacebook.submit.model.SpaceFacilityDTO" >
		select * from space_facility
	</select>
	
	<select id="selectSpaceAll" resultType="spacebook.submit.model.SpaceDTO" resultMap="spaceDTO">
		select * from space s left outer join MEMBER m on s.mem_no = m.mem_no order by s.space_no
	</select>
	
	<select id="spaceMap" resultType="spacebook.submit.model.SpaceDTO" >
		select * from space NATURAL JOIN map
	</select>
	
	<select id="selectMySpace" resultType="spacebook.submit.model.SpaceDTO" >
		select * from space where mem_no = #{mem_no}
	</select>
	
	<select id="countMySpace" resultType="int" parameterType="spacebook.submit.model.SpaceDTO">
		select count(*) from space where mem_no = #{mem_no}
	</select>
	
	<update id="updateSpace" parameterType="spacebook.submit.model.SpaceDTO"> 
		UPDATE SPACE
			SET SPACE_NAME=#{space_name},
			SPACE_CATEGORY=#{space_category},
			SPACE_ADDR1=#{space_addr1},
			SPACE_ADDR2=#{space_addr2},
			SPACE_INTRO1=#{space_intro1},
			SPACE_INTRO2=#{space_intro2},
			SPACE_TAG=#{space_tag},
			FAC_NO=#{fac_no},
			SPACE_SITE=#{space_site},
			SPACE_IMG1=#{space_img1},
			SPACE_IMG2=#{space_img2},
			SPACE_IMG3=#{space_img3},
			SPACE_IMG4=#{space_img4},
			SPACE_IMG5=#{space_img5},
			SPACE_IMG6=#{space_img6},
			SPACE_IMG7=#{space_img7},
			SPACE_PHONE=#{space_phone},
			SPACE_CAU=#{space_cau},
			SPACE_PEO_COUNT=#{space_peo_count},
			SPACE_OPEN=#{space_open},
			SPACE_CLOSE=#{space_close},
			SPACE_SUM=#{space_sum},
			SPACE_BANK=#{space_bank},
			SPACE_ACCOUNT=#{space_account},
			SPACE_DEPOSITOR=#{space_depositor}
			WHERE SPACE_NO=#{space_no}
	</update>
	
	<delete id="deleteSpace" parameterType="spacebook.submit.model.SpaceDTO">
		delete from space where space_no = #{space_no}
	</delete>
	
	<delete id="deleteMap" parameterType="spacebook.submit.model.SpaceDTO">
		delete from map where space_no = #{space_no}
	</delete>
	
	<delete id="deleteReview" parameterType="spacebook.submit.model.SpaceDTO">
		delete from Review where space_no = #{space_no}
	</delete>
	
	
	<!-- search -->
<select id="search" resultType="spacebook.submit.model.SpaceDTO" parameterType="map">
	select * from
	(select * from 
	(select * from 
	
		(select * from 
			<if test="search == null">
				space
			</if>
			<if test="search != null" >
				<foreach collection="search" item="search" index="index">
					<if test="index eq 0">
						(select * from space where space_name like '%'||#{search}||'%' or space_tag like '%'||#{search}||'%' or space_addr1 like '%'||#{search}||'%' or space_category like '%'||#{search}||'%') 
					</if>
				<if test="index &gt; 0">
  					NATURAL JOIN(select space_no from space where space_name like '%'||#{search}||'%' or space_tag like '%'||#{search}||'%' or space_addr1 like '%'||#{search}||'%' or space_category like '%'||#{search}||'%')
			</if>
			</foreach>
			</if>
		<where>
			<if test="SpaceDTO.space_addr1 != '' &amp;&amp; SpaceDTO.space_addr1 != null">
			space_addr1 like '%'||#{SpaceDTO.space_addr1}||'%'
			</if>
		</where>
		)

	<where>
		<if test="SpaceDTO.space_category != '' &amp;&amp; SpaceDTO.space_category != null ">
			space_category = #{SpaceDTO.space_category}
		</if>
	</where>
	)space
	<where>
		<if test="Fac != null">
 		<foreach collection="Fac" item="item" index="index">
		<!-- <if test='index.equals("")'> -->
		<if test="index eq 0">
			fac_no like '%'||#{item}||',%'
		</if>
		<if test="index != 0">
			and fac_no like '%,'||#{item}||'%'
		</if>
		</foreach>
		</if>
	</where>
	)
</select>


<select id="etcSpace" resultType="spacebook.submit.model.SpaceDTO">
	select * from space where mem_no = #{mem_no}
</select>

</mapper>

