<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spaceRent">
	<resultMap type="spacebook.submit.model.SpaceDTO" id="spaceDTO">
		<result column="SPACE_NAME" property="space_name"/>
	</resultMap>
	<resultMap type="spacebook.rent.model.SpaceRentDTO" id="rentDTO">
		<result column="RENT_NO" property="rent_no"/>
		<result column="SPACE_NO" property="space_no"/>
		<result column="RENT_NAME" property="rent_name"/>
		<result column="RENT_START" property="rent_start"/>
		<result column="RENT_END" property="rent_end"/>
		<result column="RENT_PAY_METHOD" property="rent_pay_method"/>
		<result column="RENT_WRITEDATE" property="rent_writedate"/>
		<result column="RENT_NOTE" property="rent_note"/>
		<result column="RENT_SUM" property="rent_sum"/>
		
		<collection property="spaceDTO" resultMap="spaceDTO"/>
	</resultMap>
	<insert id="insertSpaceRent" parameterType="spacebook.rent.model.SpaceRentDTO">
		INSERT INTO SPACE_RENT 
			VALUES(
					SPACE_RENT_SEQ.NEXTVAL, #{space_no}, 
					#{mem_no}, #{rent_name}, #{rent_email}, #{rent_phone}, 
					#{rent_note}, #{rent_pay_method}, #{rent_writedate}, 
					#{rent_start}, #{rent_end}, #{rent_sum}
				   )
	</insert>
	<select id="myRentList" resultMap="rentDTO" parameterType="spacebook.rent.model.SpaceRentVO">
		<!-- SELECT SR.SPACE_NO, SR.RENT_NAME, SR.RENT_PAY_METHOD, SR.RENT_NOTE, SR.RENT_WRITEDATE, SR.RENT_START, SR.RENT_END, SR.RENT_SUM, S.SPACE_NAME
		  FROM SPACE_RENT SR INNER JOIN SPACE S ON SR.SPACE_NO = S.SPACE_NO
		 WHERE SR.MEM_NO = #{mem_no} AND TRUNC(TO_DATE(#{rent_start}, 'YYYY-MM-DD') - SYSDATE) >= 0 -->
		 SELECT * FROM (
		 	SELECT * FROM (
				 SELECT ROWNUM R, SR.RENT_NO, SR.SPACE_NO, SR.RENT_NAME, SR.RENT_PAY_METHOD, SR.RENT_NOTE, SR.RENT_WRITEDATE, SR.RENT_START, SR.RENT_END, SR.RENT_SUM, S.SPACE_NAME
				   FROM SPACE_RENT SR INNER JOIN SPACE S ON SR.SPACE_NO = S.SPACE_NO
				  WHERE SR.MEM_NO = #{mem_no} AND SR.RENT_START >= SYSDATE ORDER BY SR.RENT_WRITEDATE DESC) 
		  WHERE R BETWEEN #{startRow} AND #{endRow}
	</select>
	<delete id="deleteMyRent">
		DELETE FROM SPACE_RENT WHERE RENT_NO = #{rent_no}
	</delete>
	<select id="rentList" resultMap="rentDTO" parameterType="spacebook.rent.model.SpaceRentVO">
	    SELECT * FROM(
	   		SELECT * FROM (
			    SELECT ROWNUM R ,SR.RENT_NO, SR.SPACE_NO, SR.RENT_NAME, SR.RENT_PAY_METHOD, SR.RENT_NOTE, SR.RENT_WRITEDATE, SR.RENT_SUM, S.SPACE_NAME
				  FROM SPACE_RENT SR INNER JOIN SPACE S ON SR.SPACE_NO = S.SPACE_NO
				 WHERE S.MEM_NO = #{mem_no} ORDER BY RENT_WRITEDATE DESC) ORDER BY RENT_WRITEDATE DESC) 
		 WHERE R BETWEEN #{startRow} AND #{endRow}
	</select>
	<select id="excelRentList" resultMap="rentDTO" parameterType="Integer">
    SELECT SR.RENT_NO, SR.SPACE_NO, SR.RENT_NAME, SR.RENT_PAY_METHOD, SR.RENT_NOTE, SR.RENT_WRITEDATE, SR.RENT_SUM, S.SPACE_NAME
		  FROM SPACE_RENT SR INNER JOIN SPACE S ON SR.SPACE_NO = S.SPACE_NO
		 WHERE S.MEM_NO = #{mem_no} order by RENT_WRITEDATE DESC
	</select>
	
	<select id="getRentListSize" parameterType="Integer" resultType="Integer">
         	SELECT count(*)
		  FROM SPACE_RENT SR INNER JOIN SPACE S ON SR.SPACE_NO = S.SPACE_NO
		 WHERE S.MEM_NO = #{mem_no}
	</select>
	
</mapper>