<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spaceReview">
	<resultMap type="spacebook.login.model.MemberVO" id="MemberVO">
	    <result column="MEM_NAME" property="mem_Name"/>
	    <result column="MEM_IMG" property="mem_Img"/>
	</resultMap> 
	<resultMap type="spacebook.view.model.SpaceReviewDTO" id="SpaceReviewDTO">
	    <result column="REV_NO" property="rev_no"/>
	    <result column="SPACE_NO" property="space_no"/>
	    <result column="MEM_NO" property="mem_no"/>
	    <result column="REV_WRITEDATE" property="rev_writeDate"/>
	    <result column="REV_NOTE" property="rev_note"/>
	    <result column="REV_RATE" property="rev_rate"/>
	    <collection property="memberVO" resultMap="MemberVO"/>
	</resultMap>
	<!-- <select id="reviewDetails" resultType="spacebook.view.model.SpaceReviewDTO">
		SELECT REV_NO, SPACE_NO, MEM_NAME, MEM_IMG, REV_WRITEDATE, REV_NOTE, REV_RATE FROM (SELECT ROWNUM R, REV_NO, SPACE_NO, MEM_NAME, MEM_IMG, REV_WRITEDATE, REV_NOTE, REV_RATE FROM REVIEW RE INNER JOIN MEMBER M ON RE.MEM_NAME = M.MEM_NAME WHERE SPACE_NO = #{space_no} ORDER BY REV_NO DESC) WHERE R BETWEEN #{startReview} AND #{endReview} ORDER BY REV_NO DESC
	</select> -->
	<select id="reviewDetails" resultMap="SpaceReviewDTO">
		SELECT *
		  FROM 
	           (SELECT ROWNUM R, REV_NO, SPACE_NO, RE.MEM_NO, M.MEM_NAME, M.MEM_IMG, REV_WRITEDATE, REV_NOTE, REV_RATE 
	              FROM REVIEW RE INNER JOIN MEMBER M ON RE.MEM_NO = M.MEM_NO 
	             WHERE SPACE_NO = #{space_no} ORDER BY REV_NO DESC) 
	     WHERE R BETWEEN #{startReview} AND #{endReview} ORDER BY REV_NO DESC
	</select>
	<select id="countReview" resultType="int">
		SELECT COUNT(*) FROM REVIEW WHERE SPACE_NO = #{space_no}
	</select>
	<select id="averageReview" resultType="int">
		SELECT TRUNC(AVG(REV_RATE)) FROM REVIEW WHERE SPACE_NO = #{space_no}
	</select>
	<insert id="insertReview" parameterType="spacebook.view.model.SpaceReviewDTO">
		INSERT INTO REVIEW VALUES(REVIEW_SEQ.NEXTVAL, #{space_no}, #{mem_no}, #{rev_writeDate}, #{rev_note}, #{rev_rate})
	</insert>
	<delete id="deleteReview" parameterType="int">
		DELETE FROM REVIEW WHERE REV_NO = #{rev_no}
	</delete>
</mapper>